* {
    margin: 0;
    /* padding: 0; */
}

.uploadfile-wrapper {}

.uploadfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3vw;
    gap: 2vw;
}

.uploadfile-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    padding: .5rem;
    padding-inline: 2rem;
    border-radius: 10px;
}

.uploadfile-form button {
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: blueviolet;
    color: azure;
    padding: .5rem;
}

.uploadfile-form input {
    color: white;
}

.excle-name {
    width: 50%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.excle-name input {
    width: 100%;
    padding: .5rem;
}

.submit-btn {
    width: 50%;
    display: flex;
    justify-content: center;
}

.submit-btn button {
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid black;
    cursor: pointer;
    background-color: blueviolet;
    color: white;
}

.select-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.select-btn {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3vw;
}

.single-select-btn input {
    padding: .5rem;
    /* width: fit-content; */
}

.single-select-btn select {

    padding: .5rem;
}

.btn-wrapper-table {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    gap: 1rem;
}

.btn-wrapper-table button {
    padding: .5rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
}

.btn-wrapper-table button:nth-child(2) {
    margin-left: auto;
    background-color: brown;
}

.add-row-wrapper {
    padding: 5vw;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    width: 90%;
    font-size: .7rem;
}

.add-row input {
    padding: .5rem;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .3rem;
}

.input-wrapper label {
    font-weight: 500;
    margin-right: auto;
    padding-left: .2rem;
    font-size: .8rem;
}

.add-row button {
    padding-block: 0;
    height: 100%;
    margin-top: auto;
    padding: .5rem;
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
}

.table {
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: center;
}

.table-wrapper {
    max-height: 100vh;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    /* display: flex;
    justify-content: center; */
    /* align-items: center;
    max-width: 95vw;
     max-height: 100vh;
    overflow: auto;
    margin-right: 0;   */
}

table {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;

}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}